@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    src: url('src/assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    src: url('src/assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: bold;
    src: url('src/assets/fonts/Poppins/Poppins-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: normal;
    src: url('src/assets/fonts/Poppins/Poppins-Italic.ttf') format('truetype');
}

html, body {
    font-family: 'Poppins', sans-serif;
}

.hover-text {
    @apply hover:scale-110 ease-in-out duration-300 hover:cursor-pointer
}
